# ignoring all test items
**test**

# ignoring sampling script
src/sampling.ipynb

# Keeping all README.md
!*README.md

# ignoring config file (each user has a different, don't want to sync it)
src/ressources/config.py

# ignoring big data files from /data
/data/QUOTEBANK/**
/data/WIKIDATA/**
/data/IMDb/**

# ignoring temporary data
/temp/**
!/temp/README.md

# ignoring system files
**.DS_Store
**desktop.ini

# ignorig temp and sys file for diverse applications
**.pyo
**.pyc
**__pycache__/
**.ipynb_checkpoints/
**.gitattributes
